@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

/* 
body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(https://ssb.wiki.gallery/images/thumb/3/3b/SSBU-Temple.png/1200px-SSBU-Temple.png);
  overflow: hidden;
} */

.charCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 500px;
  max-width: 1000px;
}

.CharacterImage {
  max-width: 80px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2%;
  font-size: 1.5em;
  font-family: Bangers, "Arial", sans-serif;
  text-shadow: 1px 1px 3px rgb(252, 252, 252);
}

/* Slider design */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bolder;
  /* -webkit-text-stroke: 0.5px black; */
  padding: 20px;
}

.sliderbox {
  background-color: rgba(255, 255, 255, 0.738);
  font-weight: 600;
  font-size: 20px;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 350px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Drawer design */
.drawer {
  /* display: none; */
  position: fixed;
  top: 0;
  right: -300px; /* Start off-screen */
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(237, 236, 236, 0.1);
  transition: right 0.3s ease-in-out;
}

.drawer.open {
  /* display: block; */
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
}

.drawer-header {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer-header button {
  font-size: 18px;
}

.drawer-content {
  padding: 20px;
  color: white;
  /* -webkit-text-stroke: 0.5px black; */
  /* background-color: rgb(164, 205, 240); */
  /* backdrop-filter: 10px; */
}

body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: changeBackground 20s infinite linear; /* Adjust the duration as needed */
}

@keyframes changeBackground {
  0%,
  20% {
    background-image: url("https://ssb.wiki.gallery/images/thumb/7/73/SSBU-Pok%C3%A9mon_Stadium_2.png/1600px-SSBU-Pok%C3%A9mon_Stadium_2.png");
  }
  25%,
  45% {
    background-image: url("https://www.ssbwiki.com/images/8/86/SSBU-Battlefield.png");
  }
  50%,
  70% {
    background-image: url("https://ssb.wiki.gallery/images/9/99/SSBU-Bridge_of_Eldin.png");
  }
  75%,
  95% {
    background-image: url("https://ssb.wiki.gallery/images/7/7b/SSBU-Yoshi%27s_Island_%28SSBB%29.png");
  }
  100% {
    background-image: url("https://ssb.wiki.gallery/images/thumb/7/73/SSBU-Pok%C3%A9mon_Stadium_2.png/1600px-SSBU-Pok%C3%A9mon_Stadium_2.png");
  }
}
